<!DOCTYPE html>
<!-- saved from url=(0067)http://www.awfulmedia.com/downloads/templates/respond-1.5/index.php -->
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

   <title>Pharmacy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- styles -->


</head> 
<body>
<div class="header">
	<div class="container">
		<div class="row">
		<div class="col-xs-6 col-sm-12 col-md-6">
				<div class="logo">
					<img src="/assets/logo.png"/>
				</div>
		</div>
		<div class="col-xs-6 col-sm-12 col-md-6">
				<div class="head_right">
					<div class="social_icon">
						<a class="facebook" href="#">facebook</a>
						<a class="twitter" href="#">twitter</a>
						<a class="gplus" href="#">gplus</a>
						<a class="pintrest" href="#">pintrest</a>

					</div>
					<div class="language">
						Language 
					</div>
				</div>
		</div>
		</div>
	</div>
</div>
<div class="navigation">
<div class="container">
	<div class="nav">
		<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Pharmacy blog</a></li>
		<li><a href="#">Emergency</a></li>
		<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<div class="userlogin">
		<a href="#">Login</a> |
		<a href="#">Register for a free account</a>
	</div>
</div>	
</div>


